/include/ "system-conf.dtsi"
/include/ "delilah.dtsi"

/ {
	/delete-node/ gpio-keys;
	/delete-node/ leds;
};

&qspi {
	has-io-mode;
};

&sdhci1 {
	disable-wp;
};

&gem3 {
	phy-handle = <&phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem3_default>;
	/delete-node/ phy@c;
	phy0: phy@0 {
		reg = <0x0>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,rxctrl-strap-worka;
	};
};

&i2c0 {
	/delete-node/ gpio@20;
	/delete-node/ gpio@21;
	/delete-node/ i2c-mux@75;
};

&i2c1 {
	/delete-node/ i2c-mux@74;
	/delete-node/ i2c-mux@75;
	eeprom: eeprom@5c {
		compatible = "atmel,24mac402";
		reg = <0x5c>;
	};
};

&pinctrl0 {
	/delete-node/ usb0-default;
	/delete-node/ can1-default;

	pinctrl_gpio_default: gpio-default {
		mux-sw {
			function = "gpio0";
			groups = "gpio0_35_grp", "gpio0_36_grp", "gpio0_37_grp", "gpio0_38_grp", "gpio0_39_grp", "gpio0_40_grp", "gpio0_41_grp", "gpio0_42_grp", "gpio0_43_grp", "gpio0_44_grp";
		};

		conf-sw {
			groups = "gpio0_35_grp", "gpio0_36_grp", "gpio0_37_grp", "gpio0_38_grp", "gpio0_39_grp", "gpio0_40_grp", "gpio0_41_grp", "gpio0_42_grp", "gpio0_43_grp", "gpio0_44_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};

		conf-pull-up {
			pins = "MIO35", "MIO36", "MIO40", "MIO41";
			bias-pull-up;
		};

		conf-pull-down {
			pins = "MIO39", "MIO44";
			bias-pull-down;
		};

		conf-pull-none {
			pins = "MIO37", "MIO38", "MIO42", "MIO43";
			bias-disable;
		};

		/delete-node/ mux-msp;
		/delete-node/ conf-msp;

	};

	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			groups = "sdio1_2_grp";
		};

		conf {
			groups = "sdio1_2_grp";
		};

		/delete-node/ mux-wp;
		/delete-node/ conf-wp;
	};
};

&can1 {
	status = "disabled";
	/delete-property/ pinctrl-0;
};

&usb0 {
	/delete-property/ pinctrl-0;
};

	/delete-node/ &xdma_0;
	/delete-node/ &xdma_1;
  
	&amba_pl {

		xdma_0: axi-pcie@0400000000 {
			#address-cells = <3>;
			#interrupt-cells = <1>;
			#size-cells = <2>;
			clock-names = "sys_clk", "sys_clk_gt";
			clocks = <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,xdma-host-3.00";
			device_type = "pci";
			interrupt-map = <0 0 0 1 &pcie_intc_0 1>, <0 0 0 2 &pcie_intc_0 2>, <0 0 0 3 &pcie_intc_0 3>, <0 0 0 4 &pcie_intc_0 4>;
			interrupt-map-mask = <0 0 0 7>;
			interrupt-names = "misc", "msi0", "msi1";
			interrupt-parent = <&gic>;
			interrupts = <0 89 4>, <0 91 4>, <0 92 4>;
			ranges = <0x02000000 0x00000000 0xA0000000 0x00000000 0xA0000000 0x00000000 0x08000000>;
			reg = <0x00000004 0x00000000 0x0 0x20000000>;
			pcie_intc_0: interrupt-controller {
				#address-cells = <0>;
				#interrupt-cells = <1>;
				interrupt-controller ;
			};
		};
    
		xdma_1: axi-pcie@0500000000 {
			#address-cells = <3>;
			#interrupt-cells = <1>;
			#size-cells = <2>;
			clock-names = "sys_clk", "sys_clk_gt";
			clocks = <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,xdma-host-3.00";
			device_type = "pci";
			interrupt-map = <0 0 0 1 &pcie_intc_1 1>, <0 0 0 2 &pcie_intc_1 2>, <0 0 0 3 &pcie_intc_1 3>, <0 0 0 4 &pcie_intc_1 4>;
			interrupt-map-mask = <0 0 0 7>;
			interrupt-names = "misc", "msi0", "msi1";
			interrupt-parent = <&gic>;
			interrupts = <0 90 4>, <0 93 4>, <0 94 4>;
			ranges = <0x02000000 0x00000000 0xB0000000 0x00000000 0xB0000000 0x00000000 0x08000000>;
			reg = <0x00000005 0x00000000 0x0 0x20000000>;
			pcie_intc_1: interrupt-controller {
				#address-cells = <0>;
				#interrupt-cells = <1>;
				interrupt-controller ;
			};
		};

		 ddrdev_0: ddrdev@01000000000 {
					compatible = "generic-uio";
					status = "okay";
					reg = <0x10 0x0 0x4 0x0>;
		 };

		 ddrdev_1: ddrdev@04800000000 {
					compatible = "generic-uio";
					status = "okay";
					reg = <0x48 0x0 0x4 0x0>;
		 };
	};
