/include/ "system-conf.dtsi"
/include/ "delilah.dtsi"

/ {
	/delete-node/ gpio-keys;
	/delete-node/ leds;
};

&qspi {
	has-io-mode;
};

&sdhci1 {
	disable-wp;
};

&gem3 {
	phy-handle = <&phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem3_default>;
	/delete-node/ phy@c;
	phy0: phy@0 {
		reg = <0x0>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,rxctrl-strap-worka;
	};
};

&i2c0 {
	/delete-node/ gpio@20;
	/delete-node/ gpio@21;
	/delete-node/ i2c-mux@75;
};

&i2c1 {
	/delete-node/ i2c-mux@74;
	/delete-node/ i2c-mux@75;
	eeprom: eeprom@5c {
		compatible = "atmel,24mac402";
		reg = <0x5c>;
	};
};

&pinctrl0 {
	/delete-node/ usb0-default;
	/delete-node/ can1-default;

	pinctrl_gpio_default: gpio-default {
		mux-sw {
			function = "gpio0";
			groups = "gpio0_35_grp", "gpio0_36_grp", "gpio0_37_grp", "gpio0_38_grp", "gpio0_39_grp", "gpio0_40_grp", "gpio0_41_grp", "gpio0_42_grp", "gpio0_43_grp", "gpio0_44_grp";
		};

		conf-sw {
			groups = "gpio0_35_grp", "gpio0_36_grp", "gpio0_37_grp", "gpio0_38_grp", "gpio0_39_grp", "gpio0_40_grp", "gpio0_41_grp", "gpio0_42_grp", "gpio0_43_grp", "gpio0_44_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};

		conf-pull-up {
			pins = "MIO35", "MIO36", "MIO40", "MIO41";
			bias-pull-up;
		};

		conf-pull-down {
			pins = "MIO39", "MIO44";
			bias-pull-down;
		};

		conf-pull-none {
			pins = "MIO37", "MIO38", "MIO42", "MIO43";
			bias-disable;
		};

		/delete-node/ mux-msp;
		/delete-node/ conf-msp;

	};

	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			groups = "sdio1_2_grp";
		};

		conf {
			groups = "sdio1_2_grp";
		};

		/delete-node/ mux-wp;
		/delete-node/ conf-wp;
	};
};

&can1 {
	status = "disabled";
	/delete-property/ pinctrl-0;
};

&usb0 {
	/delete-property/ pinctrl-0;
};
	&amba_pl {

		 ddrdev_0: ddrdev@1000000000 {
					compatible = "generic-uio";
					status = "okay";
					reg = <0x10 0x0 0x4 0x0>;
		 };


                 filter0: filter0@b0000000 {
                                        compatible = "generic-uio";
                                        status = "okay";
					reg = <0x0 0xb0000000 0x0 0x10000>;
		 };

                 filter1: filter1@b0010000 {
                                        compatible = "generic-uio";
                                        status = "okay";
                                        reg = <0x0 0xb0010000 0x0 0x10000>;
                 };

                 filter2: filter2@b0020000 {
                                        compatible = "generic-uio";
                                        status = "okay";
                                        reg = <0x0 0xb0020000 0x0 0x10000>;
                 };

                 filter3: filter3@b0030000 {
                                        compatible = "generic-uio";
                                        status = "okay";
                                        reg = <0x0 0xb0030000 0x0 0x10000>;
                 };
	};
